<div class="modal">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h4 class="modal-title">
          You are about to join<br>
          Basket: {{basket.name}}<br>
          Owner: {{user.name}}
        </h4>

      </div>

      <div class="modal-body">
        <p>By joining <b>{{basket.name}}</b> you will be able to:</p>
        <ul>
          <li>Save links to this basket</li>
          <li>Have this basket listed with your created baskets</li>
          <li>Collaborate with the other people following this basket</li>
        </ul>
      </div>

      <div class="modal-footer">

        <button type="button" 
                class="btn btn-default" 
                ng-click="showJoinModal = false">Cancel
        </button>

        <button type="button" 
                class="btn btn-primary" 
                ng-click="joinBasket()">Join
        </button>

      </div>

    </div> <!-- modal-content -->

  </div> <!-- modal-dialog -->

</div> <!-- modal -->