<div class="follow-unfollow-wrapper">

  <h2 ng-hide="following" 
    ng-click="showJoinModal = true">
    <!-- <i class="icon-plus"></i> Follow Basket -->
    + Follow Basket
  </h2>

  <div ng-show="showJoinModal">
    {{basket}}
    <popup-join-basket-modal
          show-join-modal="showJoinModal"
          user="user"
          basket="$parent.info">
    </popup-join-basket-modal>

  </div>

  <h2 ng-show="following" 
      ng-click="unfollow(user.id, $parent.info.id)">
      <!-- <i class="icon-remove"></i> Unfollow Basket -->
      - Unfollow Basket
  </h2>

</div>