.span3 {
  margin-left: 0;

  .button-wrapper {
    .button {
      width: 50%;
      // float: left;
      text-align: center;
    }
  }
}

.basket-wrapper {
  // float: left; 
  // display: inline-block;
  background: #191919;
  color: white;

  // width: 20%;
  // min-height: 500px;
  // position: absolute;
  // height: 100%;
  // left: 0;
  font-family: 'Lato';

  // @media(max-width: 768px){
  //   display: none;
  // }

  .baskets {
    margin-left: 0;
    
    .active {
      background: #111;
      border-right: 5px solid #90EE90;

      a {
        color: white;
        text-decoration: none;
      }
    }

    li {
      list-style: none;

      &:hover {
        border-right: 5px solid #90EE90;
      }

      a {
        color: #999;
        font-size: 16px;
        width: 100%;

        &:hover {
          color: #fff;
          text-decoration: none;  
        }

        .basket-list-item {
          padding: 10px 0 10px 25px;
          border-top: 1px solid #212121;
          border-bottom: 1px solid #0a0c0e;

          &:hover {
            border-top: 1px solid #111;
            border-bottom: 1px solid #0a0c0e;
          }

        } // basket-list-item
      } // a
    } // li
    .create-basket {
      font-size: 16px;
      padding: 10px 0 10px 25px;
      p {
        color: #999;
        span {
          margin-right: 5px;
          border: 1px solid #999;
          padding: 1px 6px;
          border-radius: 20px;
        }
        &:hover {
         color: #fff;
        }
      }
      input[type="text"] {
        width: 130px;
      }
    }
  } // baskets
}