/* All Links
===========================*/
.links-heading-right {
  float: right;
}

.links-heading-left {
  float: left;
}

.link-list {
  width: 75%;
  clear: both;
  list-style: none;
  li {
    display: block;
    .link-wrapper {
      position: relative;
      margin: 0 20px 20px 0;
      border: 1px solid black;
      .basket-info {
        float: right;
        i,
        p {
          display: inline-block;
        }
        p {
          margin-left: 4px;
        }
      }
      .link-trash {
        position: absolute;
        right: 0;
        font-size: 20px;
        cursor: pointer;
      }
      .link {
        display: inline-block;
        .title {
          font-weight: bold;
          font-size: 20px;
        }
        .date-time {
          font-size: 10px;
        }
      } // link
      a {
        width: 100%;
      }
    } // link-wrapper
  } // li
} // link-list
