<ul>
  <h1>Use Basket to:</h1>
  <li>Share links with friends</li>
  <li>Save your favorite links</li>
  <li>Create collaborative baskets for easy saving and sharing</li>
</ul>

<div class='get-started-wrapper'>
  <h4>Get Started</h4>
  <div class="get-started-btn-wrapper">
    <a href="#" class="download-extension-btn">
      <div class='download-the-extension'>
        Download the Chrome Extension
      </div>
    </a>
  </div>
  <div class="get-started-btn-wrapper">
    <a href="/auth/facebook">
      <div class='sign-into-facebook'>
        <i class = "fa fa-facebook-square icon facebook"></i> 
        <p>Login with Facebook</p>
      </div>
    </a>
  </div>
</div>