The new and improved about page!

<div class='get-started-wrapper'>
  <h4>Get Started</h4>
  <div class="get-started-btn-wrapper">
    <a href="#" class="download-extension-btn">
      <div class='download-the-extension'>
        <%#= image_tag 'chrome2.png', class: "chrome-img" %>
        Download the Extension
      </div>
    </a>
  </div>
  <div class="get-started-btn-wrapper">
    <%#= link_to "/auth/facebook", id: "sign_in" do %>
      <div class='sign-into-facebook'>
        <i class = "fa fa-facebook-square icon facebook"></i> 
        <p>Login with Facebook</p>
      </div>
    <%# end %>
  </div>
</div>