<div class="span3">
  <!-- <div class="button-wrapper">
    <div class="button">Baskets</div>
    <div class="button">Friends</div>
  </div> -->
  <div class="basket-wrapper">
    <!-- <h2>BASKETS</h2> -->
    <ul class="baskets">

      <li>
        <a ui-sref="basket.shared">
          <div class="basket-list-item">
            Inbox
          </div>
        </a>
      </li>

      <li>
        <input type="text" 
                ng-show="showForm"
                ng-model="newBasketName"
                form="newBasketForm">
      </li>

      <li ng-repeat="basket in baskets | orderBy: 'name'"
          ui-sref-active="active">
        <a ui-sref="basket.links({basketName: basket.name,
                                  basketID: basket.id})">
          <div class="basket-list-item">
            {{basket.name}}
          </div>
        </a>
      </li>


    </ul> <!-- baskets -->

    <div class="create-basket">

      <div ng-click="showForm = !showForm"
          ng-hide="showForm">
        <p><span>+</span>New Basket</p>
      </div>

      <div ng-show="showForm2">

        <form ng-submit="createBasket()"
              id="newBasketForm">
          <!-- <input type="text" ng-model="newBasketName">
          <input type="Submit" value="Create Basket"> -->
        </form>

      </div> <!-- showForm -->

    </div> <!-- create-basket -->

  </div> <!-- basket-wrapper -->

</div>

<div class="span9">

  <div ui-view></div>

</div>