<div class="span3">

  <div class="friend-wrapper">

    <h2 class="wrapper-header">Friends</h2>

    <ul class="friends">

      <li ng-repeat="friend in friends | orderBy: 'name'"
          ui-sref-active="active">

        <!-- <a ng-click="getFriendsBaskets(friend.id)"> -->
        <a ui-sref="friends.baskets({friendID: friend.id })">
          
          <div class="friend-list-item">
          
            {{friend.name}}
          
          </div>
        
        </a>
      
      </li>

    </ul> <!-- friends -->

  </div> <!-- friend-wrapper -->

</div> <!-- span3 -->

<div class="span3">

  <div ui-view></div>

</div>