<div class="span6">

  <h2>{{basketName}}</h2>
  <h4>Owner: {{owner.name}}</h4>

  <!-- <join-basket-button
      user-id="user.id"
      basket-id="basketID"
  ></join-basket-button> -->
<!--   <h2 ng-click="showJoinModal = true">Join Basket</h2>

  <div ng-show="showJoinModal">

    <popup-join-basket-modal
          show-join-modal="showJoinModal"
          user-id="user.id"
          basket-id="basketID">
    </popup-join-basket-modal>

  </div> -->
  <join-basket-toggle
    followers="followers"
    user="user"
    show-join-modal="showJoinModal">
  </join-basket-toggle>

  <div ng-hide="followers.length === 0">

    <basket-followers-section
      followers="followers">
    </basket-followers-section>

  </div>

  <ul class="link-list">

    <li ng-repeat="link in links | orderBy: '-created_at'">

      <div class="link-wrapper">
        <i class="fa fa-trash link-trash"
            ng-click="deleteLink(link.folder_id, link.id)"></i>
        <a href="{{link.url}}" target="_blank" class="link">
          <img ng-src="{{link.image}}" alt="test"/>
          <p class="date-time">{{link.created_at | date : format : timezone}}</p>
          <p class="title">{{link.title}}</p>
          <!-- <p class="description">{{link.description}}</p> -->
          <p class="message">{{link.message | limitTo: 15 }}{{link.message.length > 15 ? '...' : ''}}</p>
          <!-- <p>{{link.description}}</p> -->
        </a>
      </div>  <!-- link-wrapper -->

    </li>

  </ul> <!-- baskets -->

</div> <!-- span6 -->