<div class="span3">
  <div class="basket-wrapper">
    <!-- <h2>BASKETS</h2> -->
    <ul class="baskets">
    <li>
      <a ui-sref="basket.shared">
        <div class="basket-list-item">
          Shared
        </div>
      </a>
    </li>
    <li ng-repeat="basket in baskets">
      <a ui-sref="basket.links({basketID: basket.id})">
        <div class="basket-list-item">
          {{basket.name}}
        </div>
      </a>
    </li>
    </ul>
  </div>

  <form ng-submit="createBasket()">
    <input type="text" ng-model="newBasketName">
    <input type="Submit" value="+">New Basket
  </form>
</div>

<div class="span8">

  <div ui-view></div>

</div>