<h2>Basket Name</h2>
<div>Delete Basket</div>
<ul class="link-wrapper">
  <li ng-repeat="link in links | orderBy: '-created_at'">
    <div>
      <i class="fa fa-trash basket-trash"
          ng-click="deleteLink(link.id)"></i>
      <a href="{{link.url}}" target="_blank" class="link">
        <!-- {{link.created_at}}<br>
        {{link.title}}<br>
        {{link.message}}<br>
        {{link.description}}<br> -->
        <p>test time</p><br>
        <p>test time</p><br>
        <p>test time</p><br>
        <p>test time</p><br>
      </a>
    </div>
  </li>
</ul>