<div class="links-heading-left">

  <h2 class="basket-name">{{info.name}}</h2>
  <h4>Owner: {{owner.name}}</h4>

  <!-- <div ng-class="{'hide-modal': showDeleteBasketModal === false}"> -->
  <div ng-show="showDeleteBasketModal">

    <popup-delete-basket-modal
          delete-basket="showDeleteBasketModal"
          baskets="$parent.baskets"
          basket-info="info"
    ></popup-delete-basket-modal>

  </div>

  <div ng-show="owner.id === user.id"
        class="delete-basket-check" 
        ng-click="showDeleteBasketModal = !showDeleteBasketModal">
    <i class="fa fa-trash-o"></i>
    Delete Basket
  </div>

</div>

<div class="links-heading-right">

  <div ng-hide="followers.length === 0">
    <basket-followers-section
      followers="followers">
    </basket-followers-section>
  </div>

</div>

<ul class="link-list">

  <li ng-repeat="link in links | orderBy: '-created_at'">

    <div class="link-wrapper">

      <i class="fa fa-trash link-trash"
          ng-click="showDeleteLinkModal = !showDeleteLinkModal"></i>

      <div ng-class="{'hide-modal': showDeleteLinkModal === false}">

        <popup-delete-link-modal
              show-delete-link="showDeleteLinkModal"
              link-id="link.id"
              basket-id="link.folder_id"
              link-title="link.title"
              links="$parent.links"
        ></popup-delete-link-modal>

      </div>

      <a href="{{link.url}}" target="_blank" class="link">
        
        <img ng-src="{{link.image}}" alt="test"/>

        <p class="date-time">{{link.created_at | date : format : timezone}}</p>

        <p class="title">{{link.title}}</p>

        <p class="message">{{link.message}}</p>
        
      </a>

    </div>  <!-- link-wrapper -->

  </li> <!-- ng-repeat -->

</ul> <!-- link-list -->