<h2>{{basketName}}</h2>

<div ng-click="deleteBasket(basketID)">
  Delete Basket
</div>

<ul class="link-wrapper">

  <li ng-repeat="link in links | orderBy: '-created_at'">

    <div>
      <i class="fa fa-trash basket-trash"
          ng-click="deleteLink(link.id)"></i>
      <a href="{{link.url}}" target="_blank" class="link">
        <p class="date-time">{{link.created_at}}</p>
        <p class="title">{{link.title}}</p>
        <p class="description">{{link.description}}</p>
        <p class="message">{{link.message | limitTo: 15 }}{{link.message.length > 15 ? '...' : ''}}</p>
        <!-- <p>{{link.description}}</p> -->
      </a>
    </div>

  </li>

</ul>