<h2>Inbox</h2>

<ul class="link-list">

  <li ng-repeat="link in sharedLinks | orderBy: '-created_at'">

    <div class="link-wrapper">
      
<!--       <i class="fa fa-trash link-trash"
          ng-click="showDeleteLinkModal = !showDeleteLinkModal"></i>

      <div ng-class="{'hide-modal': showDeleteLinkModal === false}">

        <popup-delete-link-modal
              show-delete-link="showDeleteLinkModal"
              link-id="link.id"
              basket-id="link.folder_id"
              link-title="link.title"
              links="$parent.links"
        ></popup-delete-link-modal>

      </div>
 -->
      <a href="{{link.url}}" target="_blank" class="link">
        
        <img ng-src="{{link.image}}" alt="test"/>

        <p class="sender">Sent From: {{link.sender}}</p>

        <p class="date-time">{{link.created_at | date : format : timezone}}</p>

        <p class="title">{{link.title}}</p>

        <p class="message">{{link.message}}</p>
        
      </a>

    </div>  <!-- link-wrapper -->

  </li> <!-- ng-repeat -->

</ul> <!-- link-list -->