<h2>Inbox</h2>

<ul class="link-list">

  <li ng-repeat="link in sharedLinks | orderBy: '-created_at'">

    <link-wrapper
      link="link"
      type="inboxLinks"
    ></link-wrapper>

  </li> <!-- ng-repeat -->

</ul> <!-- link-list -->