<div class="modal">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h4 class="modal-title">
          Delete {{linkTitle}}?
        </h4>

      </div>
      <!-- <div class="modal-body">

      </div> -->
      <div class="modal-footer">

        <button type="button" 
                class="btn btn-default" 
                ng-click="showDeleteLink = !showDeleteLink">Cancel
        </button>

        <button type="button" 
                class="btn btn-primary" 
                ng-click="deleteLink(basketId, linkId)">Delete
        </button>

      </div>

    </div> <!-- modal-content -->

  </div> <!-- modal-dialog -->

</div> <!-- modal -->